.button {
	margin-left: 60px;
	padding: 15px 26px;
	border: none;
	border-radius: 25px;
	font-weight: 200;
	font-size: 18px;
	color: var(--blue);
	background-color: white;
}

.button.-success {
	box-shadow: 0 0 0 14px rgba(100, 226, 205, 0.5);
	font-weight: bold;
	font-size: 15px;
	margin-left: 0;
	padding: 17px 41px;
	color: white;
	background-color: var(--green);
	text-transform: uppercase;
}

.button.-footer {
	margin-left: 0;
	padding: 15px 33px;
	font-size: 17px;
}

@media screen and (max-width: 1480px) {
	.button.-success {
		padding: 15px 34px;
		box-shadow: 0 0 0 13px rgba(100, 226, 205, 0.5);
		margin-left: 0;
		margin-bottom: 90px;
		background-color: var(--green);
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: var(--white);
	}
}

@media screen and (max-width: 1240px) {
	.button.-onlydesk {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.button.-success {
		padding: 17px 36px;
		box-shadow: 0 0 0 15px rgba(100, 226, 205, 0.5);
		margin-left: 0;
		margin-bottom: 90px;
		background-color: var(--green);
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		color: var(--white);
	}
}