.footer {
	padding: 0 30px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--blue);
}

.footer__link.-uppercase {
	font-size: 17px;
	font-weight: 200;
	margin-right: 30px;
	text-transform: uppercase;
	color: var(--white);
}

.footer__link.-uppercase.-bold {
	font-weight: 500;
}

@media screen and (max-width: 770px) {
	.footer__link.-uppercase {
		margin-right: 20px;
	}
}