.hero {
	min-height: 100vh;
}

.hero__content {
	display: flex;
	justify-content: flex-end;
}

.hero__info {
	width: 50%;
	color: var(--white);
}

.hero__place {
	line-height: 20px;
	margin-top: 86px;
	font-size: 17px;
	font-weight: 300;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.title.-hero {
	font-size: 45px;
	width: 580px;
	line-height: 60px;
	margin-top: 32px;
	margin-bottom: 33px;
}

.hero__subtitle {
	font-size: 21px;
	font-weight: 300;
	margin-bottom: 66px;
}

@media screen and (max-width: 1480px) {
	.hero {
		padding-bottom: 20px;
	}

	.hero__info {
		padding-left: 20px;
	}

	.hero__place {
		margin-top: 55px;
		line-height: 20px;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.04em;
		text-transform: uppercase;
	}

	.title.-hero {
		font-size: 40px;
		width: 505px;
		line-height: 48px;
		margin-top: 25px;
		margin-bottom: 34px;
	}

	.hero__subtitle {
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 57px;
	}
}

@media screen and (max-width: 1240px) {
	.hero__content {
		justify-content: center;
	}

	.hero__info {
		width: 100%;
		padding-left: 380px;
	}

	.hero__place {
		margin-top: 70px;
		line-height: 20px;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.04em;
		text-transform: uppercase;
	}

	.title.-hero {
		font-size: 39px;
		width: 503px;
		line-height: 58px;
		margin-top: 25px;
		margin-bottom: 34px;
	}

	.hero__subtitle {
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 66px;
	}
}

@media screen and (max-width: 1040px) {
	.hero__info {
		padding-top: 60px;
		padding-left: 340px;
	}

	.hero__place {
		line-height: 20px;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.04em;
		text-transform: uppercase;
	}

	.title.-hero {
		font-size: 30px;
		width: 100%;
		line-height: 38px;
		margin-top: 26px;
		margin-bottom: 33px;
	}

	.hero__subtitle {
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 66px;
	}
}

@media screen and (max-width: 767px) {
	.hero__info {
		padding: 0 30px;
	}

	.hero__place {
		margin-top: 35px;
		margin-bottom: 33px;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.07em;
		text-transform: uppercase;
	}

	.title.-hero {
		font-size: 35px;
		margin-bottom: 34px;
	}

	.hero__subtitle {
		margin-bottom: 67px;
		font-size: 19px;
		font-weight: 300;
	}
}