.why {
	background-color: var(--blue-transparent);
	padding-bottom: 80px;
	margin-bottom: 150px;
}

.title.-why {
	font-size: 31px;
	padding-top: 80px;
}

.why__content {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}